
<div class="login">
  <p style="text-align: left;">Log in to use your profile</p>
  <form action="/session" method="post" style="text-align: left;">
    <input name="email" type="text" placeholder="email">
    <input name="password" type="password" placeholder="password">
    <button>Log in</button>
  </form>
  <p>To sign up please fill in this form</p>
  <form action="/users" method="post">
    <input name="email" type="text" placeholder="email">
    <input name="password" type="password" placeholder="password">
    <input name="nickname" type="text" placeholder="nickname">
    <button>Create Account</button> 
  </form>

</div>
<br>
<aside style="text-align: center;">
    <p>Feeling Lucky Today? Here is "Your Cocktail Of The Day!"</p>
    <form action="/">
      <button id="shuffle">Shuffle A Cocktail</button>
    </form>
    <img src="<%= @result_hash['strDrinkThumb'] %>" alt="">
    <h4><%= @result_hash["strDrink"] %></h4>
</aside>