
<div class="login">
  <p>Log in to use your profile</p>
  <form action="/session" method="post">
    <label for="">Email</label>
    <input name="email" type="text">
    <label for="">Password</label>
    <input name="password" type="password">
    <label for="">Nickname</label>
    <input name="nickname" type="text">

    <button>Log in</button>
  </form>
</div>