<div class="container">
  <aside>
    <p>Feeling Lucky Today?</p>
    <button>Shuffle A Cocktail</button>
    <img src="http://via.placeholder.com/200" alt="">
    <p>name</p>
  </aside>

  <main>
    <!-- display img and name of random cocktails -->
    <form action="">
      <img src="http://via.placeholder.com/220" alt="">
      <p>name</p>
    </form>
    <form action="">
      <img src="http://via.placeholder.com/220" alt="">
      <p>name</p>
    </form>
  </main>
</div>