<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cocktail Master</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>
  <nav>
    <a href="/">Home</a>
    <a href="/drinks">Popular Cocktails</a>
    <a href="/drinks/new">DIY A Cocktail</a>
    <a href="/my_drinks">MyCocktails</a>
  </nav>

  <% if logged_in? %>
  <span class="login_status">Logged in as <%= User.find(session[:user_id]).nickname %></span>
  <form class="login_status" action="/session" method="post">
    <input type="hidden" name="_method" value="delete">
    <button>logout</button>
  </form>
  <% else %>
  <form action="/">
    <button class="login_status" href="/">Please log in</button>
  </form>
  <% end %>

  <form class="main_form" action="/search_results">
    <h1>CocktailMaster</h1>
    <input type="text" name="drink_name" placeholder="search by the following options...">
    <button class="search_button">Search Cocktails</button>
  </form>

  <%= yield %>
  <!-- <footer>Created by Robbie Cheng 2018</footer> -->
</body>
</html>