<h2>Discover more Cocktails and save to your collections</h2>

<div class="result">  
  <% @drinks.each do |drink| %>
  <a href="/show/<%= drink.id %>">  
    <h4><%= drink.strdrink %></h4>
    <img src="<%= drink.strdrinkthumb %>" alt="">
    <form action="/my_drinks/<%= drink.id %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <button>Remove</button>
    </form>
  </a>
  <% end %>
</div>