<h4 style="text-align: center;">Not satisfying with the existing cocktails? DIY your own Cocktail and share with other memebers</h4>

<form class="new_form" action="/drinks/:id" method="post">
  <input type="text" placeholder="Cocktail Name" name="strDrink">
  <input type="text" placeholder="Serve Glass" name="strGlass">
  <input type="text" placeholder="Picture" name="strDrinkThumb">
  <p>Ingredients: </p>

  <input type="text" placeholder="Ingredient 1 eg.Gin" name="strIngredient1">
  <input type="text" placeholder="Measure 1 eg.1oz" name="strMeasure1">

  <input type="text" placeholder="Ingredient 2 eg.Gin" name="strIngredient2">
  <input type="text" placeholder="Measure 2 eg.1oz" name="strMeasure2">

  <input type="text" placeholder="Ingredient 3 eg.Gin" name="strIngredient3">
  <input type="text" placeholder="Measure 3 eg.1oz" name="strMeasure3">

  <input type="text" placeholder="Ingredient 4 eg.Gin" name="strIngredient4">
  <input type="text" placeholder="Measure 4 eg.1oz" name="strMeasure4">

  <input type="text" placeholder="Ingredient 5 eg.Gin" name="strIngredient5">
  <input type="text" placeholder="Measure 5 eg.1oz" name="strMeasure5">

  <input type="text" placeholder="Ingredient 6 eg.Gin" name="strIngredient6">
  <input type="text" placeholder="Measure 6 eg.1oz" name="strMeasure6">

  <input type="text" placeholder="Ingredient 7 eg.Gin" name="strIngredient7">
  <input type="text" placeholder="Measure 7 eg.1oz" name="strMeasure7">
  

  <textarea name="strInstructions" placeholder="Instructions..." id="" cols="60" rows="10"></textarea>
  <button>Create</button>

</form>