<h2>Display all the cocktails in the database</h2>

<div class="result">  
  <% @drinks.each do |drink| %>
  <a href="/show/<%= drink.id %>">  
    <h4><%= drink.strdrink %></h4>
    <img src="<%= drink.strdrinkthumb %>" alt="">
  </a>
  <% end %>
</div>